# Env files - NEVER commit
.env
.env.local
.env.development
.env.production
.env.test
server/.env
client/.env
client/.env.local
ml/.env

# Dependencies
node_modules/
venv/
__pycache__/

# Build folders
build/
dist/

# OS files
.DS_Store